@page "/"

<PageTitle>Home</PageTitle>

<ResponsiveContent>
    <Xs>
        <p>Hello Xs</p>
    </Xs>
    <Sm>
        <p>Hello Sm</p>
    </Sm>
    <Md>
        <p>Hello Md (We fallback to this as there is no Lg breakpoint)</p>
    </Md>
    <Xl>
        <p>Hello Xl and above!</p>
    </Xl>
</ResponsiveContent>

<ResponsiveContent>
    @switch (context)
    {
        case Enums.BreakPoint.Xs:
            <p>Hello @context.ToString() breakpoint! (from ChildContent)</p>
            break;
        default:
            <p>Hello other breakpoints! (from ChildContent)</p>
            break;
    }
</ResponsiveContent>